html {
	height: 100%;
}
body {
	background-color:rgb(64, 64, 64);
	background-position: center center;
	background-repeat: no-repeat;
	/* background-size: cover; */
	background-size: 100% 100%;
    background-attachment: fixed;
	overflow: hidden;
	height: 100%;
	color: #000002;
}
.icon {
	width: 1rem;
	height: 1rem;
	vertical-align: -0.15rem;
	fill: currentColor;
	overflow: hidden;
	font-size: xx-large;
}
.medium {
	
	background-color: rgba(240, 240, 240, .2);
	/* position: absolute;*/
	position: fixed;
	height: 70%;
	width: 80%;
	/* margin-left: 15%;
	margin-top: 10%;*/
	margin: 10% 10% 10% 10%;
	min-width: 50rem;
	min-height: 20rem;
}
.liBs {
	background-color: rgba(240, 240, 240, 0.6);
}
.indexIframe {
	height: calc(100% - 42px);
}
.foot {
	position: absolute;
	margin-left: 30%;
	/* margin-top: 10%;*/
	width: 100%;
	min-width: 50rem;
	font-size: 6px;
	color: #007bff;
}
.imgFloating{
	visibility: hidden;
	width: 7rem;
    position: absolute;
    opacity: 0;
	bottom: 2.2rem;;
}
.wechat:hover .imgFloating, .qq:hover .imgFloating {
    opacity: 1;
    visibility: visible;
}